@import "./variables";

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -Mac-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    font-family: $font-family-1;
}

body, 
html {
    margin: 0;
}

*:active, 
*:focus {
    outline: none;
}

.content-max-width {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-width: 1280px) {
    .content-max-width {
        padding: 0 3%;
    }
}

@media (min-width: 1280px) {
    .for-mobile {
        display: none !important;
    }
}

@media (max-width: 1280px) {
    .for-desktop {
        display: none !important;
    }
}

@media not print {
    .for-print {
        display: none !important;
    }
}

@media print {
    .hide-on-print {
        display: none !important;
    }
}