@import "./variables";
@import "./common";

body {
    padding-bottom: 30vh;
}

@keyframes slide_in {
    from { 
        opacity: 0.00001;
        transform: translate3d(100%,0,0);
    }
    to {
        opacity: 1; 
        transform: translate3d(0,0,0);
    }
}

.fab {
    background-color: white;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 80px;
    transform: translate3d(100%,0,0); 
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: slide_in;
    animation-timing-function: cubic-bezier(0.42, 0, 0.05, 1.02);

    @media print { 
        display: none;
    }

    a {
        color: $color-font;
        display: block;
        padding: 8px 32px;
        text-align: right;
        cursor: pointer;
        background-color: #fff;
        transition: background-color .4s;

        &.active {
            background-color: #eeeeee;
        }
    }

    .contact {
        margin-top: 20px;

        a {
            font-size: 14px;
            opacity: 0.6;
        }
    }
}

.hero {
    height: 250px;
    background-color: #eeeeee;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background-position: center 45%;
    background-size: cover;
    filter: grayscale(50%);
}

.section {
    margin-bottom: 80px;
}
 
.profile-picture {
    $padding: 60px;
    $paddingMobile: 32px;
    $pictureSize: 230px;
    $pictureSizeMobile: 200px;
    padding-top: $paddingMobile;
    position: relative;
    z-index: 1;    
    justify-content: flex-start;
    color: $color-font;
    margin-bottom: 80px;
    display: block;
    text-align: center;

    @media print { 
        margin-bottom: 40px;
    }

    @media (min-width: 1280px) {
        padding-top: $padding;
        display: flex;
        text-align: left;
    }
    
    >i {
        display: block;
        margin: 0 auto $paddingMobile;
        height: $pictureSizeMobile;
        width: $pictureSizeMobile;
        border-radius: 50%;
        background-color: white;
        border: white solid 6px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

        @media (min-width: 1280px) {
            margin: 0;
            height: $pictureSize;
            width: $pictureSize;
        }

        @media print { 
            display: none;
        }
    }

    >div {
        display: flex;
        justify-content: center;
        flex-flow: column;

        @media (min-width: 1280px) {
            padding-left: 20px;
        }
    }

    i {
        flex-shrink: 0;
    }

    h1 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 8px; 

        @media (min-width: 1280px) {
            margin-bottom: 4px; 
        }
    }

    h2 {
        font-family: $font-family-2;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 12px;

        @media (min-width: 1280px) {
            font-size: 20px;
            margin-bottom: 8px;
        }

        @media print { 

        }
    }

    h3 {
        font-size: 14px;
        font-weight: 300;
    }

    a {
        text-decoration: underline;
        padding: 0 6px;
        display: block;
        
        @media (min-width: 1280px) {
            display: inline-block;
        }

        @media print { 
            display:  inline-block;
        }
    }
}

.wysiwyg {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 1280px) {
        text-align: left;
    }

    h1,h2,h3, h4 {
        font-family: $font-family-1;
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 30px;

        small {
            display: block;
        }
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        margin-bottom: 12px;

        @media print { 
            font-size: 14px;
        }
    }

    * {
        font-family: $font-family-2;
        color: $color-font;
    }

    a {
        text-decoration: underline;
    }

    ul {
        margin-bottom: 24px;
    }

    li {
        padding-bottom: 4px;
        position: relative;

        @media (min-width: 1280px) {
            margin-left: 20px;
            padding-left: 12px;
        }

        &:before {
            display: block;
            position: absolute;
            right: 100%;
            background-color: $color-font;
            height: 6px;
            width: 6px;
            top: calc(50% - 3px);
            border-radius: 50%;
            opacity: 0.3;

            @media (min-width: 1280px) {
                content:'';
            }
        }
    }

    img, iframe {
        display: block;
        margin: 40px auto;
        width: 80%;
    }

    .contact-link {
        display: block;
        font-size: 18px;
        text-decoration: underline;
        margin-bottom: 8px;
    }

    &.small-images {
        
        .container {
            display: flex;
            justify-content: space-between;
            flex-grow: 0;
            flex-shrink: 0;
            
            img {
                width: 40%;
                align-self: center;
            }
        }
    }
}